{% extends "base.html" %}

{% block announce %}
⚠️ League of Legends will is longer playable on Linux due to <a href="https://youtu.be/9U_jEzKf0_0?t=732">Vanguard anticheat</a> ⚠️ more in formation here: <a href="https://www.leagueoflegends.com/en-us/news/game-updates/patch-14-9-notes/">patchnotes</a>⚠️ This site will soon be archived ⚠️ <a href="https://old.reddit.com/r/leagueoflinux/comments/1abhx9f/farewell_rleagueoflinux_vanguard_is_coming_to/">Farewell r/leagueoflinux ❤️</a>
{% endblock %}